<div *ngIf="verificaLista()" class="col d-flex justify-content-center text-center">
    <table style="font-size: 20px;" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Nome de usuário</th>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade de jogos avaliados</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of lista; let i = index">
                <td>
                    {{i+1}}º
                </td>
                <td>
                    {{item.userName}}
                </td>
                <td>
                    {{item.nome}}
                </td>
                <td>
                    {{item.qtdJogosAvaliados}}
                </td>
            </tr>
        </tbody>        
    </table>
</div>
