<h5 class="text-info">Outras avaliações</h5>
<div class="row">
    <div *ngIf="!verificaLista()" class="col">
        Sem jogo cadastrado para exibir.
    </div>
    <div *ngIf="verificaLista()" class="col-12 row">
        <div *ngFor="let item of listaAvaliacao" class="col-4">
            <app-jogo-avaliacao [usuarioCodigo]="item.usuarioCodigo" [jogoCodigo]="item.jogoCodigo" [nota]="item.nota"
                [relatorio]="true" [comentario]="item.comentario"></app-jogo-avaliacao>
        </div>
    </div>
</div>