<div class="m-2" style="width: 230px;">
    <div class="card p-2">
        <a class="btn btn-danger my-1" routerLink="">Ver meu perfil</a>
        <a class="btn btn-danger my-1" routerLink="/perfil-update">Atualizar meu perfil</a>
        <a class="btn btn-danger my-1" *ngIf="usuario.ehAdmin === 'true'" routerLink="/jogo-create">Cadastrar jogo</a>
        <a class="btn btn-danger my-1" routerLink="/jogo-read">Ver jogos</a>
        <a class="btn btn-danger my-1" routerLink="/categoria-read">Ver categorias</a>
        <a class="btn btn-danger my-1" routerLink="/jogo-read-recommend">Ver jogos recomendados</a>
        <a class="btn btn-danger my-1" routerLink="/jogos-mais-avaliados">Avaliações mais uteis</a>
        <a class="btn btn-danger my-1" *ngIf="usuario.ehAdmin === 'true'" routerLink="/relatorio">Ver relatórios</a>
    </div>
</div>