<div class="card" style="border: none;">
    <div class="card-body row">
        <div class="col-12" >            
            <img [src]="imageUrl" class="card-img-top" style="border-radius: 50%; margin: auto; width: 250px; height: 250px; display: block;" [alt]="jogo.nome">
            <h1 class="text-primary text-center">
                <ngb-rating [max]="5" [(rate)]="nota" [readonly]="relatorio" (rateChange)="avaliar($event)">
                    <ng-template let-fill="fill" let-index="index">
                        <span class="star" [class.filled]="fill === 100">&#9733;</span>
                    </ng-template>
                </ngb-rating>
            </h1> 
            <h5 class="card-title">{{jogo.nome}}</h5>
            <div class="my-2">
                <a role="button" class="btn btn-outline-dark" [routerLink]="['/avaliacao/'+jogo.id]">Mais avaliações</a>
            </div>
            <p class="card-text">{{jogo.descricao}}</p>
            <p class="card-text">Usuario: <b>{{userName}}</b></p>
            <p class="card-text"><a href="{{jogo.urlJogo}}" target="_blank">{{jogo.urlJogo}}</a></p>   
            <div *ngIf="usuario.ehAdmin === 'true' && relatorio === false">
                <button type="button" class="btn btn-outline-dark mr-1" (click)="openModalEditar(jogo)">Editar</button>
                <button type="button" class="btn btn-dark m-1" (click)="deletarJogo(jogo)">Deletar</button>
            </div>
        </div>        
    </div>
</div>