<div class="">
    <div class="row">
        <div class="col m-2">
            <div class="form-inline my-2">
                <div class="form-group mr-2">
                    <label for="" class="sr-only"></label>
                    <input type="text" class="form-control" placeholder="Buscar jogo" [(ngModel)]="search">
                </div>
                <div class="form-group">
                    <button class="btn btn-dark btn-block" type="submit" (click)="pesquisar()">Buscar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 class="card-title mx-3">Jogos</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div *ngIf="!verificaLista()" class="col">
                Sem jogo registrado.
            </div>
            <div *ngIf="verificaLista()" class="col-12 row">
                <div *ngFor="let item of listaJogos" class="col-12">
                    <app-jogo [jogo]="item" (deleteRequest)="getListaJogos()" [relatorio]="false">
                    </app-jogo>
                </div>
            </div>

        </div>
    </div>
</div>