<div class="row d-flex align-items-center justify-content-center h-100">
    <div class="col-10">
        <div class="d-flex justify-content-around align-items-center mb-4  ">
            <h3>Conectar-se</h3>             
        </div>
        <div class="form-outline mb-4">
            <label class="form-label  " for="formEmail">Email</label>
            <input type="email" id="formEmail" class="form-control form-control-lg" [(ngModel)]="usuario.email"
                placeholder="Email" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label  " for="formSenha">Senha</label>
            <input type="password" id="formSenha" class="form-control form-control-lg" [(ngModel)]="usuario.senha"
                placeholder="Senha" />
        </div>
    
        <div class="d-flex justify-content-around align-items-center mb-4">
            <span>Não possui conta?<a routerLink="/cadastro" class=" "> Clique aqui.</a></span>                
        </div>
    
        <div class="d-flex justify-content-around align-items-center mb-4">
            <button class="btn btn-success btn-lg btn-block" (click)="login()"
                [disabled]="!validaUsuario()">Entrar</button>
        </div>
    </div>
</div>