<div class="row d-flex align-items-center justify-content-center h-100">
    <div class="col-10">
        <div class="d-flex justify-content-start align-items-center mb-4" style="font-size: 24px;">
            <b>Cadastro no GoodBrowserGames</b>
        </div>
        <div>
            <div class="form-group row">
                <label for="formNome" class="col-sm-2 col-form-label">Nome</label>
                <div class="col-sm-10">
                    <input type="text" id="formNome" class="form-control form-control-lg" [(ngModel)]="usuario.nome"
                    placeholder="Nome" />
                </div>
            </div>

            <div class="form-group row">
                <label for="formUserName" class="col-sm-2 col-form-label">Nome de usuário</label>
                <div class="col-sm-10">
                    <input type="text" id="formUserName" class="form-control form-control-lg" [(ngModel)]="usuario.userName"
                        autocomplete="off" onkeypress="return event.charCode != 32" onCopy="return false"
                        onDrag="return false" onDrop="return false" onPaste="return false" placeholder="Nome do usuário" />
                </div>
            </div>
            
            <div class="form-group row">
                <label for="formEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" id="formEmail" class="form-control form-control-lg" [(ngModel)]="usuario.email"
                        placeholder="Email" />
                </div>
            </div>
            
            <div class="form-group row">
                <label for="formSenha" class="col-sm-2 col-form-label">Senha</label>
                <div class="col-sm-10">
                    <input type="password" id="formSenha" class="form-control form-control-lg" placeholder="Senha"
                        [(ngModel)]="usuario.senha" autocomplete="off" />
                </div>
            </div>
            
            <div class="form-group row">
                <label for="formDataNascimento" class="col-sm-2 col-form-label">Data de nascimento</label>
                <div class="col-sm-10">
                    <input type="date" id="formDataNascimento" class="form-control form-control-lg"
                            [(ngModel)]="usuario.dataNascimento" />
                </div>
            </div>
            
            <div class="form-group row">
                <label for="formEstado" class="col-sm-2 col-form-label">Estado</label>
                <div class="col-sm-10">
                    <input type="text" id="formEstado" class="form-control form-control-lg"
                        [(ngModel)]="usuario.estado" placeholder="Estado" />
                </div>
            </div>
            
            <div class="form-group row">
                <label for="formPais" class="col-sm-2 col-form-label">País</label>
                <div class="col-sm-10">
                    <input type="text" id="formPais" class="form-control form-control-lg"
                        [(ngModel)]="usuario.pais" placeholder="País" />
                </div>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input bg-danger" [(ngModel)]="isAdmin" id="formAdmin">
                <label class="form-check-label  " for="formAdmin">Me tornar um administrador.</label>
            </div>

            <div class="row">
                <div class="col-6 d-flex justify-content-around align-items-center">
                    <button class="btn btn-success btn-lg btn-block" [disabled]="!validaUsuario()"
                        (click)="cadastro()">Cadastrar</button>
                </div>
                <div class="col-6 d-flex justify-content-around align-items-center">
                    <a routerLink="/login" class="btn btn-dark btn-lg btn-block">Já possuo conta.</a>
                </div>

            </div>
        </div>
    </div>
</div>