<div class="col">
    <div class="text-info row">
        <div class="col-10">
            <p><b>{{usuario.nome}}</b></p>
            <p>{{usuario.userName}}</p>
            <p>{{usuario.dataNascimento}} • {{usuario.estado}} - {{usuario.pais}}</p>
            <div>
                <a class="btn btn-dark my-1" routerLink="/perfil-update">Atualizar perfil</a>
            </div>
        </div>
    </div>
    <div class="row">
        <app-listar-jogos class="col-12"></app-listar-jogos>
    </div>
</div>
