<div class="m-2">
    <h5 class="card-title">Jogos recomendados</h5>
    <div class="row">
        <div *ngIf="!verificaLista()" class="col">
            Para o algoritmo funcionar o usuário deve avaliar dois ou mais jogos da mesma categoria.
        </div>
        <div  *ngIf="verificaLista()"  class="col-12 row">
            <div *ngFor="let item of listaJogos" class="col-12">
                <app-jogo [jogo]="item" [relatorio]="false"></app-jogo>
            </div>
        </div>
    </div>
</div>