<nav class="navbar bg-dark">
    <!-- <span class="navbar-brand mb-0 h1">GoodBrowserGames</span> -->
    <div class="d-flex justify-content-center">
        <div class="navbar-expand">
            <div class="navbar-nav" *ngIf="authService.isAuthenticated()">
                <div class="nav-item">
                    <a role="button" style="cursor: pointer;" class="nav-link text-light" routerLink="">Página inicial</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link text-light"> | </a>
                </div>
                <div class="nav-item">
                    <a role="button" style="cursor: pointer;" class="nav-link text-light" *ngIf="usuario.ehAdmin === 'true'"
                        routerLink="/jogo-create">Registrar jogo</a>
                </div>
                <div class="nav-item"  *ngIf="usuario.ehAdmin === 'true'">
                    <a class="nav-link text-light"> | </a>
                </div>
                <div class="nav-item">
                    <a role="button" style="cursor: pointer;" class="nav-link text-light" routerLink="/jogo-read">Lista de
                        jogos registrados</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link text-light"> | </a>
                </div>
                <div class="nav-item">
                    <a role="button" style="cursor: pointer;" class="nav-link text-light"
                        routerLink="/categoria-read">Lista de categorias</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link text-light"> | </a>
                </div>
                <div class="nav-item">
                    <a role="button" style="cursor: pointer;" class="nav-link text-light"
                        routerLink="/jogo-read-recommend">Lista de jogos recomendados</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link text-light"> | </a>
                </div>
                <div class="nav-item">
                    <a role="button" style="cursor: pointer;" class="nav-link text-light"
                        routerLink="/jogos-mais-avaliados">Avaliações mais uteis dos jogos </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link text-light"> | </a>
                </div>
                <div class="nav-item">
                    <a role="button" style="cursor: pointer;" class="nav-link text-light"
                        routerLink="/relatorio">Relatórios</a>
                </div>                
            </div>
        </div>
    </div>    

    <div class="navbar-expand">
        <div class="navbar-nav justify-content-end" *ngIf="!authService.isAuthenticated()">
            <div class="nav-item">
                <a role="button" class="nav-link text-light" routerLink="/login">Login</a>
            </div>
            <div class="nav-item">
                <a role="button" class="nav-link text-light" routerLink="/cadastro">Cadastro</a>
            </div>
        </div>
        <div class="navbar-nav justify-content-end" *ngIf="authService.isAuthenticated()">
            <div class="nav-item">
                <a role="button" style="cursor: pointer;" class="nav-link text-danger" (click)="logout()">Logout</a>
            </div>
        </div>
    </div>
</nav>