.container {
    display: flex;
    align-items: flex-end;
}

.podium__item {
    width: 600px;
}

.podium__rank {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #fff;
}

.podium__city {
    text-align: center;
    padding: 0 .5rem;
}

.podium__number {
    width: 27px;
    height: 75px;
}

.podium .first {
    min-height: 300px;
    background: #FFD700;
    background:
        linear-gradient(333deg,
        #FFD700 0%,
        #FFD700 13%,
        #FFD700 53%,
        #FFD700 100%);
}

.podium .second {
    min-height: 200px;
    background: #C0C0C0;
}

.podium .third {
    min-height: 100px;
    background: #CD7F32;
}