<div class="m-2">
    <div class="col d-flex justify-content-end">
        <div class="container podium">
            <div class="podium__item" *ngIf="segundo">
                <p class="podium__city">{{segundo.nome}}</p>
                <div class="podium__rank second text-dark">2</div>
            </div>
            <div class="podium__item" *ngIf="primeiro">
                <p class="podium__city">{{primeiro.nome}}</p>
                <div class="podium__rank first">
                    <svg class="podium__number" viewBox="0 0 27.476 75.03" xmlns="http://www.w3.org/2000/svg">
                        <g transform="matrix(1, 0, 0, 1, 214.957736, -43.117417)">
                            <path class="st8"
                                d="M -198.928 43.419 C -200.528 47.919 -203.528 51.819 -207.828 55.219 C -210.528 57.319 -213.028 58.819 -215.428 60.019 L -215.428 72.819 C -210.328 70.619 -205.628 67.819 -201.628 64.119 L -201.628 117.219 L -187.528 117.219 L -187.528 43.419 L -198.928 43.419 L -198.928 43.419 Z"
                                style="fill: #000;" />
                        </g>
                    </svg>
                </div>
            </div>
            <div class="podium__item" *ngIf="terceiro">
                <p class="podium__city">{{terceiro.nome}}</p>
                <div class="podium__rank third text-dark">3</div>
            </div>
        </div>
    </div>
</div>