<div class="row d-flex align-items-center justify-content-center h-100 m-2">
    <div class="col-12">
        <div class="d-flex justify-content-around align-items-center">
            <table style="font-size: 20px;" class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Categoria</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="primeiro">
                        <td>1º</td>
                        <td>{{primeiro.nome}}</td>
                    </tr>
                    <tr *ngIf="segundo">
                        <td>2º</td>
                        <td>{{segundo.nome}}</td>
                    </tr>
                    <tr *ngIf="terceiro">
                        <td>3º</td>
                        <td>{{terceiro.nome}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>